<!DOCTYPE html>
<html>
<head>
    <title>Samaritan House</title>
    <meta name="description" content="Samaritan House">
    <meta name="keywords" content="Samaritan House">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <script src="/js/jquery.js"></script>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="logo">
                    <h1><i id="homeButton" class="fa fa-home"></i> Samaritan House</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="employerList">
        <div class="row">
            <div class="col-md-3 text-left">
                <button type="button" class="btn btn-primary-outline" id="newEmployer">New Employer</button>
            </div>
            <div class="col-md-9 text-right">
                <button type="button" class="btn btn-primary-outline">Edit</button>
                <button type="button" class="btn btn-primary-outline">Delete</button>
            </div>
        </div>
        <script>
            $.getJSON( "/v1/wrc/employers", function(results) {
                console.log("Number Employers:" + results.res.length);
                var i = 0;
                while (i < results.res.length) {
                    $("#employerList").append("<div class='row'>" +
                            "<div class='col-md-6'>" +
                                "<input type='checkbox' value=" + results.res[i].WorkerID + ">" + results.res[i].FirstName + " " + results.res[i].LastName +"</input>" +
                            "</div>" +
                            "<div class='col-md-6'>" +
                            "</div>"
                    );

                    i++;
                }
            });
        </script>
    </div>
    <script>
        $('#homeButton').on('click', function () {
            window.location.href = "/home"
        });
        $('#newEmployer').on('click', function () {
            window.location.href = "/employerRegistration"
        });
        //TODO: Implement Edit and Delete logic
    </script>
</div>
</body>
</html>


